---
import BaseLayout from './BaseLayout.astro';
import { format } from 'date-fns';
const { frontmatter } = Astro.props;
const { title, description, date, tags } = frontmatter;
const formattedDate = format(date, 'MMMM d, yyyy');
---

<BaseLayout title={title}>
  <article class="flex flex-col gap-4">
    <h1 class="text-4xl text-neutral-100 md:text-2xl">
      {title}
    </h1>
    <p class="text-2xl font-light text-neutral-200 md:text-lg">
      {description}
    </p>
    <p class="text-md font-light text-neutral-200 italic">
      Published on {formattedDate}
    </p>
    <p class="flex gap-2">
      <span class="text-neutral-100">Tags:</span>
      {
        tags.map((tag: string) => (
          <span class="rounded-md border px-2 text-sm text-neutral-100">
            {tag}
          </span>
        ))
      }
    </p>

    <span class="border-main my-4 border-b"></span>
    <slot />
  </article>
</BaseLayout>
